@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> The Bridgeport branch library that is apart of the Jamaica Library Service it is currently located at 670 Portsmouth ave,Portmore and has been around since 1970.In 1988 the library would partake in a bookmobile service that would fornightly visit communities and offer them books.</p>
